<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.com/libraries/bootstrap-slider"></script>
    <script src="../modules/bootstrap-slider.js"></script>
    <link href="../modules/bootstrap-slider.css" rel="stylesheet" />
    <link href="../style.css" rel="stylesheet" />

    <title>What D&D 5e Adventure Should You Play?</title>
    <link rel="icon" type="image/x-icon" href="src/favicon.ico" />
  </head>
  <body>
    <div
      class="bg-cover flex justify-center flex-col"
      style="
        background-image: url(../src/cover.png);
        border-bottom-width: 5px;
        border-top-width: 5px;
        border-color: #9d0a0e;
      "
    >
      <h1 class="text-4xl text-white font-black m-24 text-center">
        What D&D 5e Adventure Should You Play?
      </h1>
    </div>
    <div class="mx-64">
      <div>
        <a
          class="rounded-full font-medium px-5 py-1"
          style="background-color: #9d0a0e; color: #ebebe6"
          href="../index.html"
        >
          Go Back
        </a>
      </div>
      <div
        class="grid place-content-center m-5 py-4 px-3 rounded-md gap-y-6 grid-cols-1"
      >
        <div
          id="card"
          class="flex flex-row p-4 space-x-5 rounded-md"
          style="background-color: #ffffff"
        >
          <div class="rounded-md overflow-hidden">
            <img
              src="https://www.dndbeyond.com/avatars/28075/491/637961623572526419.jpeg"
            />
          </div>
          <div class="flex flex-col space-y-5 justify-center">
            <h2 class="font-extrabold text-2xl" style="color: #9d0a0e">
              <%= campaign %>
            </h2>
            <p>
              Dragonlance®: Shadow of the Dragon Queen™ is a tale of conflict
              and defiance set during the legendary War of the Lance. Create
              characters from Krynn, the world of the Dragonlance setting, then
              march them to the front lines of battle against the terrifying
              Dragon Armies. A Dungeons & Dragons® adventure that takes
              characters from 1st to 11th level.
            </p>
            <div>
              <a
                class="rounded-full font-medium px-5 py-1 bg-gray-900 hover:bg-gray-700"
                style="color: #ebebe6"
                href="https://www.dndbeyond.com/marketplace/adventures/dragonlance-shadow-of-the-dragon-queen-digital-pre"
                target="_blank"
              >
                Play This Book!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('.tooltip').tooltip();
        /* Example 2 */
        $('#ex2').slider({});
      });
    </script>
  </body>
</html>
